@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<table>
    <tr>
        <td><button onclick="formMaker(1)">Employee</button></td>
        <td><button onclick="formMaker(2)">Position</button></td>
        <td><button onclick="formMaker(3)">Course</button></td>
        <td><button onclick="formMaker(4)">Student</button></td>
    </tr>
</table>

<div id="formDiv"></div>

<div id="verify"></div>

<h2>@ViewBag.VerifyAdd</h2>

<script type="text/javascript">
    function formMaker(choice) {
        if (choice == 1) {
            $("#EmpForm").remove();
            $("#formDiv").append('<form action="/Home/AddEmp" method="post" id="EmpForm">First Name:<br><input type="text" name="FirstName"><br>Last Name: <br><input type="text" name="LastName"><br>Email:<br><input type="text" name="Email"><br>Position:<br><input type="text" name="PositionID"><br><input type="submit" value="Add"></form>');
        }
        else if (choice == 2) {
            $("#EmpForm").remove();
            $("#formDiv").append('<form action="/Home/AddPos" method="post" id="EmpForm">Position ID:<br><input type="number" name="PositionID"><br>Position Name: <br><input type="text" name="PosName"><br><input type="submit" value="Add"></form>');
        }
        else if (choice == 3) {
            $("#EmpForm").remove();
            $("#formDiv").append('<form action="/Home/AddCour" method="post" id="EmpForm">CourseID:<br><input type="number" name="CourseID"><br>Name: <br><input type="text" name="CourName"><br><input type="submit" value="Add"></form>');
        }
        else if (choice == 4) {
            $("#EmpForm").remove();
            $("#formDiv").append('<form action="/Home/AddStudent" method="post" id="EmpForm" >FirstName: <br><input type="text" name="FirstName"><br>LastName:<br><input type="text" name="LastName"><br>Email:<br><input type="text" name="Email"><br><input type="submit" value="Add"></form>');
        }
        else {
            $("#formDiv").append("Hello");
        }

    }
</script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#EmpForm").on("submit", function () {
            var $this = $(this);
            var frmValues = $this.serialize();
            $.ajax({
                type: "POST",
                url: "/Home/About",
                data: '{data: "' + frmValues + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function () {
                    console.log("Success");  
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });

        });
    });
</script>
